
backend/RequestReceiver-Core/\.vs/

backend/RequestReceiver-Core/RequestReceiver/bin/

backend/RequestReceiver-Core/RequestReceiver/obj/

backend/RequestReceiver-Core/RequestReceiver\.Data/bin/

backend/RequestReceiver-Core/RequestReceiver\.Data/obj/

backend/RequestReceiver-Core/RequestReceiver\.Domain/bin/

backend/RequestReceiver-Core/RequestReceiver\.Domain/obj/

backend/RequestReceiver-Core/RequestReceiver\.Server/bin/

backend/RequestReceiver-Core/RequestReceiver\.Server/obj/

backend/RequestReceiver-Core/RequestReceiver\.Service/bin/

backend/RequestReceiver-Core/RequestReceiver\.Service/obj/

backend/RequestReceiver-Core/RequestReceiver\.Data\.UnitTest/obj/

backend/RequestReceiver-Core/RequestReceiver\.Domain\.UnitTest/obj/

backend/RequestReceiver-Core/RequestReceiver\.Server\.UnitTest/obj/

backend/RequestReceiver-Core/RequestReceiver\.Service\.UnitTest/obj/

backend/RequestReceiver-Core/RequestReceiver\.UnitTest/obj/
/backend/OrderReceiver-Core/.vs
/backend/OrderReceiver-Core/OrderReceiver/bin
/backend/OrderReceiver-Core/OrderReceiver/obj
/backend/OrderReceiver-Core/OrderReceiver.Data/bin
/backend/OrderReceiver-Core/OrderReceiver.Data/obj/Debug/netcoreapp2.1
/backend/OrderReceiver-Core/OrderReceiver.Data/obj/Release/netcoreapp2.1
/backend/OrderReceiver-Core/OrderReceiver.Data/obj
/backend/OrderReceiver-Core/OrderReceiver.Data.UnitTest/obj/Debug/netcoreapp2.1
/backend/OrderReceiver-Core/OrderReceiver.Data.UnitTest/obj
/backend/OrderReceiver-Core/OrderReceiver.Domain/bin
/backend/OrderReceiver-Core/OrderReceiver.Domain/obj/Debug/netcoreapp2.1
/backend/OrderReceiver-Core/OrderReceiver.Domain/obj
/backend/OrderReceiver-Core/OrderReceiver.Domain.UnitTest/bin/Debug/netcoreapp2.1
/backend/OrderReceiver-Core/OrderReceiver.Domain.UnitTest/obj/Debug/netcoreapp2.1
/backend/OrderReceiver-Core/OrderReceiver.Domain.UnitTest/obj
/backend/OrderReceiver-Core/OrderReceiver.Server/bin
/backend/OrderReceiver-Core/OrderReceiver.Server/obj
/backend/OrderReceiver-Core/OrderReceiver.Server.UnitTest/bin/Debug/netcoreapp2.1
/backend/OrderReceiver-Core/OrderReceiver.Server.UnitTest/obj
/backend/OrderReceiver-Core/OrderReceiver.Service/bin
/backend/OrderReceiver-Core/OrderReceiver.Service/obj
/backend/OrderReceiver-Core/TestResults/221cf0ef-87a1-4ab8-a9dd-4918e104d12b
/backend/OrderReceiver-Core/OrderReceiver.UnitTest/bin/Debug/netcoreapp2.1
/backend/OrderReceiver-Core/OrderReceiver.UnitTest/obj
/backend/OrderReceiver-Core/OrderReceiver.Service.UnitTest/bin/Debug/netcoreapp2.1
/backend/OrderReceiver-Core/OrderReceiver.Service.UnitTest/obj
