

.order-search {    
    text-align: center;
    display:table-cell;
    vertical-align: middle;
}

.order-form{
    padding-top:50px;
    padding-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgb(138, 255, 167);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
}
